<div class="container-fluid gallery-container">
  <div class="container-fluid" style="margin:0px auto 130px auto;">
    <h1 id="title1" style="margin-bottom:50px;">E3.0</h1>

    <p class="page-description">{{this.languagesService.e30Intro}}</p>

  </div>

    <div class="tz-gallery">

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('aluminum-quartzite')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/e30/Torino_tn.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.e30Title1}}</h3>
                      <p>{{this.languagesService.e30Des1}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('concrete-vintage-oak')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/e30/Beton_Altholz_main_520x360.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.e30Title2}}</h3>
                      <p>{{this.languagesService.e30Des2}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('laminate-pure-white')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/e30/Laminat_reinweiss_main_520x360.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.e30Title3}}</h3>
                      <p>{{this.languagesService.e30Des3}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('stainless-excentric')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/e30/Edelstahl_Silvert._main_520x360.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.e30Title4}}</h3>
                      <p>{{this.languagesService.e30Des4}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('quartz-walnut')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/e30//Quarz_Nussbaum_main_520x360.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.e30Title5}}</h3>
                        <p>{{this.languagesService.e30Des5}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('oak-laminate')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/e30//Eiche_lam_main_520x360.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.e30Title6}}</h3>
                        <p>{{this.languagesService.e30Des6}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="spacer-container">
      <div class="spacer-line"></div>
    </div>

    <div class="container-fluid" style="margin:0px auto 130px auto;">
      <h1 id="title2" style="margin-bottom:50px;">{{this.languagesService.e30Accessories}}</h1>
    </div>

    <div class="tz-gallery">

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail" (click)="navigate('aluminum-niche-system')">
              <a class="lightbox">
                  <img class="image" src="../../assets/images/e30/15sq_tn.jpg">
              </a>
              <div class="caption">
                  <h3>{{this.languagesService.e30AccessoriesTitle1}}</h3>
                  <p>{{this.languagesService.e30AccessoriesDes1}}</p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail" (click)="navigate('boxtec')">
              <a class="lightbox">
                  <img class="image" src="../../assets/images/e30/boxtec_tn.jpg">
              </a>
              <div class="caption">
                  <h3>{{this.languagesService.e30AccessoriesTitle2}}</h3>
                  <p>{{this.languagesService.e30AccessoriesDes2}}</p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail" (click)="navigate('aluminum-drawer-system')">
              <a class="lightbox">
                  <img class="image" src="../../assets/images/e30/Alu_Schubk_main_520x360.jpg">
              </a>
              <div class="caption">
                  <h3>{{this.languagesService.e30AccessoriesTitle3}}</h3>
                  <p>{{this.languagesService.e30AccessoriesDes3}}</p>
              </div>
          </div>
      </div>

    </div>

</div>

</div>
