.default-footer{
  background-color: black;
  font-family: 'Brandon_light';
  height:300px;
}

.black-footer{
  background-color: rgb(0, 0, 0);
}

.white-footer{
  background-color: rgb(255, 255, 255);
}

.brown-footer{
  background-color: #232323;
}

.footer-buttons-container {
  margin-top: 72px;
  margin-bottom:30px;
}

.facebook-icon-container {
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  border-radius: 50%;
  width:60px;
}

.fa-facebook{
  color: white;
}

.fa-bg-dark{
  background: rgb(61, 61, 61);
}

.fa-bg-light{
  background: black;
}

.fa-facebook:hover{
  background: #3B5998;
}

.contact-button-label {
  font-size:20px;
}

.catalog-container {
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px
}

.catalog-icon-container {
  margin:auto;
  width:60px;
  height:60px;
  padding: 15px 0px 0px 0px;
  border-radius: 50px;
  margin-top:10px;
  transition: all, 0.3s;
}

.catalog-icon-container-grey {
  background-color:rgb(61,61,61);
}

.catalog-icon-container-black {
  background-color:black;
}

.catalog-icon-container:hover {
  background-color:rgb(80,80,80);
}

.catalog-icon {
  width:28px;
}

.catalog-label {
  font-size:14px;
  margin-top:5px;
  margin-bottom: 0px;
  cursor: default;
  color: white;
}

.catalog-label-white {
  color:white;
}

.catalog-label-black {
  color:black;
}

.footer-catalog-hitbox {
  padding: 20px 17px;
}

.btn-outline-dark{
  color:black;
  border-color:black;
  outline:none !important;
}

.btn-outline-light{
  outline:none !important;
}

.btn-outline-dark:hover{
  color:white;
  border-color:black;
  background-color:black;
}

.btn:focus {
  outline: none;
}

/* Langages */

#langages {
  list-style: none;
  padding-bottom:20px;
}

/* When not activated */
.item {
  display: inline-block;
  padding: 0px 0 20px;
  vertical-align: middle;
  cursor: pointer;
  color:gray;
}

.item:hover{
  color:lightgray;
}

.item:hover, .item:focus, .item:active {
  color: lightgray;
  text-decoration: none;
}
.item {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.item {
  position: relative;
  display: inline-block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 5px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
.item::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: lightgray;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}
.item:active::before {
  background-color: lightgray;
}
.item:hover::before, .item:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
  background-color: lightgray;
}

/* When activated */
.item2 {
  display: inline-block;
  padding: 0px 0 20px;
  vertical-align: middle;
  cursor: pointer;
  color:lightgray;
}

.item2:hover{
  color:lightgray;
}

.item2:hover, .item2:focus, .item2:active {
  color: lightgray;
  text-decoration: none;
}
.item2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.item2 {
  position: relative;
  display: inline-block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 5px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
.item2::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: lightgray;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
}
.item2:active::before {
  background-color: lightgray;
}
.item2:hover::before, .item2:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
  background-color: lightgray;
}

.spacer-footer-container {
  display: block;
  clear: both;
  font-size: 1px;
  text-align: center;
  margin-bottom: 25px;
  margin-top:0px;
}

.spacer-footer-container .spacer-footer-line {
  height: 3px;
  width: 200px;
  font-size: 1px;
  display: inline-block;
  background-color: #000;
}

.spacer-footer-container .spacer-footer-white-line {
  height: 3px;
  width: 200px;
  font-size: 1px;
  display: inline-block;
  background-color: white;
}

@media screen and (min-width: 315px) and (max-width: 400px) {
  .facebook-icon-container {
    padding-top:36px;
  }

  .fa {
    padding: 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 8px 8px 8px 8px;
    border-radius: 50%;
    width:46px;
  }

  .fa-facebook{
    color: white;
  }

  .catalog-container {
    padding-top:36px;
  }

  .catalog-icon-container {
    margin:auto;
    width:46px;
    height:46px;
    padding: 8px 0px 0px 0px;
    border-radius: 50px;
    margin-top:10px;
    transition: all, 0.3s;
  }

  .catalog-icon {
    width:22px;
  }

  .footer-catalog-hitbox {
    padding: 15px 13px;
  }

  .catalog-label {
    display:none;
  }

  .contact-button-label {
    font-size:15px;
  }
}

@media screen and (max-width: 315px) {
  .catalog-container {
    display:none;
  }
}
