<div class="container-fluid title-container" style="margin:170px auto 60px auto;">
  <h1 style="margin-bottom:10px;">{{this.LanguagesService.lookbookTitle10}}</h1>
  <div>
    <a *ngIf="this.previousLookbookPage!==''"  (click)="navigate(this.previousLookbookUrl)" style="float:left;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousLookbookPage}}</span></a>
    <a *ngIf="this.nextLookbookPage!==''" (click)="navigate(this.nextLookbookUrl)" style="float:right;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextLookbookPage}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
  </div>
</div>
<div id="gallery" class="container-fluid" style="margin-bottom:10px">
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/Villa_Wien01_1400x800.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/csm_Villa_Wien02_960x1260_e48de74399.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/Villa_Wien03_1400x800.jpg')"></div>
  </div>
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/Villa_Wien04_1400x800.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/csm_Villa_Wien05_969x1260_1f7f1fa2e3.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-vienne/Villa_Wien06_1400x800.jpg')"></div>
  </div>
</div>
<div style="height:140px;">
    <a *ngIf="this.previousLookbookPage!==''"  (click)="navigate(this.previousLookbookUrl)" style="float:left;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousLookbookPage}}</span></a>
    <a *ngIf="this.nextLookbookPage!==''" (click)="navigate(this.nextLookbookUrl)" style="float:right;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextLookbookPage}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
</div>
