<div class="container-fluid title-container" style="margin:170px auto 60px auto;">
  <h1 style="margin-bottom:10px;">{{this.LanguagesService.e30AccessoriesTitle3}}</h1>
  <div>
    <a *ngIf="this.previousE30Page!==''"  (click)="navigate(this.previousE30Url)" style="float:left;cursor:pointer"><i class="material-icons" style="font-size:30px;">navigate_before</i><span style="position:relative;top:-9px;">{{this.previousE30Page}}</span></a>
    <a *ngIf="this.nextE30Page!==''" (click)="navigate(this.nextE30Url)" style="float:right;cursor:pointer"><span style="position:relative;top:-9px;">{{this.nextE30Page}}</span><i class="material-icons" style="font-size:30px;">navigate_next</i></a>
  </div>
</div>
<div id="gallery" class="container-fluid" style="margin-bottom:10px">
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/aluminum-quartzite/Torino_01.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/aluminum-quartzite/csm_Torino_02_612fac8cf6.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/aluminum-quartzite/Torino_03.jpg')"></div>
  </div>
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/aluminum-quartzite/Torino_04.jpg')"></div>

</div>
<div style="height:140px;">
    <a *ngIf="this.previousE30Page!==''"  (click)="navigate(this.previousE30Url)" style="float:left;cursor:pointer"><i class="material-icons" style="font-size:30px;">navigate_before</i><span style="position:relative;top:-9px;">{{this.previousE30Page}}</span></a>
    <a *ngIf="this.nextE30Page!==''" (click)="navigate(this.nextE30Url)" style="float:right;cursor:pointer"><span style="position:relative;top:-9px;">{{this.nextE30Page}}</span><i class="material-icons" style="font-size:30px;">navigate_next</i></a>
</div>
