<div class="container-fluid gallery-container" style="background-color:black;">
  <div class="container-fluid" style="margin:0px auto 130px auto;">
    <div class="container-fluid" style="text-align:center;">
      <img style="margin-bottom:50px;padding-top:150px;" src="../../assets/images/unique/logo_unique.gif" />
    </div>

    <p class="page-description text-center" style="color:white;">{{this.languagesService.uniqueIntro}}</p>

  </div>

    <div class="tz-gallery">

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('beola-nera')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/unique/unique1.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.uniqueTitle1}}</h3>
                      <p>{{this.languagesService.uniqueDes1}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('carbono')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/unique/unique2.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.uniqueTitle2}}</h3>
                      <p>{{this.languagesService.uniqueDes2}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('arabescato')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/unique/unique3.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.uniqueTitle3}}</h3>
                      <p>{{this.languagesService.uniqueDes3}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('pietra-viva')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/unique/unique4.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.uniqueTitle4}}</h3>
                      <p>{{this.languagesService.uniqueDes4}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('grigio')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique5.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle5}}</h3>
                        <p>{{this.languagesService.uniqueDes5}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('valcamonica')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique6.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle6}}</h3>
                        <p>{{this.languagesService.uniqueDes6}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('nero')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique7.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle7}}</h3>
                        <p>{{this.languagesService.uniqueDes7}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('graphite')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique8.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle8}}</h3>
                        <p>{{this.languagesService.uniqueDes8}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('luna-grey')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique9.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle9}}</h3>
                        <p>{{this.languagesService.uniqueDes9}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('elegantbrown')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique10.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle10}}</h3>
                        <p>{{this.languagesService.uniqueDes10}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('taj-mahal')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique11.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle11}}</h3>
                        <p>{{this.languagesService.uniqueDes11}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('silver-touch')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique12.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle12}}</h3>
                        <p>{{this.languagesService.uniqueDes12}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('lacquemate')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique13.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle13}}</h3>
                        <p>{{this.languagesService.uniqueDes13}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('volcano')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique14.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle14}}</h3>
                        <p>{{this.languagesService.uniqueDes14}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('slate')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/unique/unique15.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.uniqueTitle15}}</h3>
                        <p>{{this.languagesService.uniqueDes15}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
