<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'black-navbar':this.navigationService.isIn(['home', 'unique', 'distributors', 'contact']),
 'navbar-dark':this.navigationService.isIn(['home', 'unique', 'distributors', 'contact', 'works']), 'white-navbar':this.navigationService.isIn(['e30', 'lookbook']),
 'navbar-light':this.navigationService.isIn(['e30', 'lookbook']), 'brown-navbar': this.navigationService.isIn(['works'])}">
    <a class="navbar-brand" routerLink="home">
        <img src="../../assets/images/Logo-Eggersmann.jpg" alt="Logo" style="width:40px;">
        <span id="title">eggersmann</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="home" (click)="goTo('home')">{{this.languagesService.navItem1}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="lookbook" (click)="goTo('lookbook')">{{this.languagesService.navItem4}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="e30" (click)="goTo('e30')">{{this.languagesService.navItem5}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="unique" (click)="goTo('unique')">{{this.languagesService.navItem6}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="works" (click)="goTo('works')">{{this.languagesService.navItem7}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="distributors" (click)="goTo('distributors')">{{this.languagesService.navItem2}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link top-right-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="contact" (click)="goTo('contact')">{{this.languagesService.navItem3}}</a>
        </li>
      </ul>
    </div>
  </nav>

