.black-navbar{
  background-color: rgb(0, 0, 0);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}

.brown-navbar{
  background-color: #232323;
}

.white-navbar {
  background-color: white;
}

.top-right-link{
  font-family: 'Brandon_light';
  font-size:17px;
  margin-right: 20px;
}

.langage{
  font-family: 'Brandon_light';
  font-size: 14px;
  margin-right:0px;
}

#title{
  font-family: 'Brandon_light';
  margin-left:15px;
  font-size: 25px;
}
