.mat-step-header .mat-step-icon{
  background-color:black !important;
}

.radio-group{
  display: inline-flex;
  flex-direction: column;
}

.stepper-next-button{
  float:right;
}

.contact-fields-container{
  display: inline-flex;
  flex-direction: column;
}
