mat-vertical-stepper.mat-stepper-vertical.ng-tns-c4-0{
  padding-bottom:230px !important;
  background-color:white;
}

.contact-container{
}

.mat-step-header .mat-step-icon{
  background-color:black !important;
}

.radio-group{
  display: inline-flex;
  flex-direction: column;
}

.stepper-next-button{
  float:right;
}

.contact-fields-container{
  display: inline-flex;
  flex-direction: column;
}

.next-back-button-container{
  margin-top:50px;
  margin-bottom:20px;
}

.next-back-button{
  color:white;
  background-color:black;
}
