.contact-container{
  background-image: url('../../assets/images/contact.jpg');
}

.contact-container .col-md-4{
  min-height:954px !important;
  background-color: rgba(0,0,0,0.6);
}

.radio-group{
  display: inline-flex;
  flex-direction: column;
}

.stepper-next-button{
  float:right;
}

.contact-fields-container{
  display: inline-flex;
  flex-direction: column;
}

.next-back-button-container{
  margin-top:50px;
  margin-bottom:20px;
}

.next-back-button{
  color:white;
  background-color:black;
}
