.gallery-container h1 {
  font-size:48px;
  text-align: center;
  margin-top: 150px;
  font-family: 'Brandon_light', Arial, Verdana;
  color: black;
}

.gallery-container p.page-description {
  width:80%;
  font-family: 'Brandon_light', Arial, Verdana;
  font-size: 24px !important;
  line-height: 42px;
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: black;
}

.map-title{
  margin-top:10px;
  margin-bottom:15px;
  font-family: 'Brandon_light', Arial, Verdana;
  text-align: center;
  color:lightgrey;
  transition: color 0.3s;
}

.map-title-row2{
  margin-top:70px;
  margin-bottom:15px;
  font-family: 'Brandon_light', Arial, Verdana;
  text-align: center;
  color:lightgrey;
  transition: color 0.3s;
}

.france-map__image{
  width:80%;
  margin:auto;
  margin-bottom:100px;
}

.france-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.france-map__image .active-region:hover{
  fill: grey;
}

.lux-map__image{
  width:50%;
}

.lux-map__image:hover{
  cursor:pointer;
}

.lux-map__image:hover .map-title{
  color:grey;
}

.lux-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.lux-map__image:hover path{
  fill: grey;
}

.nc-map__image{
  width:70%;
}

.nc-map__image:hover{
  cursor:pointer;
}

.nc-map__image:hover .map-title-row2{
  color:grey;
}

.nc-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.nc-map__image:hover path{
  fill: grey;
}

.morocco-map__image{
  width:60%;
}

.morocco-map__image:hover{
  cursor:pointer;
}

.morocco-map__image:hover .map-title{
  color:grey;
}

.morocco-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.morocco-map__image:hover path{
  fill: grey;
}

.barthelemy-map__image{
  width:70%;
}

.barthelemy-map__image:hover{
  cursor:pointer;
}

.barthelemy-map__image:hover .map-title-row2{
  color:grey;
}

.barthelemy-map__image path{
  fill: lightgrey;
  transition: fill 0.3s;
}

.barthelemy-map__image:hover path{
  fill: grey;
}

@media only screen and (max-width: 1100px){
  .map-title-row2{
    margin-top:50px;
  }
  .lux-map__image{
    margin:auto;
  }
  .morocco-map__image{
    margin:auto;
  }
  .nc-map__image{
    margin:auto;
  }
  .barthelemy-map__image{
    margin:auto;
  }
}
