.gallery-container h1 {
  font-size:48px;
  text-align: center;
  margin-top: 150px;
  font-family: 'Brandon_light', Arial, Verdana;
  color: black;
}

.gallery-container p.page-description {
  width:80%;
  font-family: 'Brandon_light', Arial, Verdana;
  font-size: 24px !important;
  line-height: 42px;
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: black;
}

.map-title{
  padding-top:25px;
  padding-bottom:15px;
  font-family: 'Brandon_light', Arial, Verdana;
  text-align: center;
  color:lightgrey;
}

.france-map__image{
  width:100%;
  margin:auto;
}

.france-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.france-map__image .active-region:hover{
  fill: grey;
}

.lux-map__image{
  width:50%;
  margin:auto;
}

.lux-map__image:hover{
  cursor:pointer;
}

.lux-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.lux-map__image:hover path{
  fill: grey;
}

.nc-map__image{
  width:70%;
  margin:auto;
}

.nc-map__image:hover{
  cursor:pointer;
}

.nc-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.nc-map__image:hover path{
  fill: grey;
}

.morroco-map__image{
  width:70%;
  margin:auto;
}

.morroco-map__image:hover{
  cursor:pointer;
}

.morroco-map__image path{
  fill: lightgrey;
  stroke: white;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.morroco-map__image:hover path{
  fill: grey;
}

.barthelemy-map__image{
  width:70%;
  margin:auto;
}

.barthelemy-map__image:hover{
  cursor:pointer;
}

.barthelemy-map__image path{
  fill: lightgrey;
  transition: fill 0.3s;
}

.barthelemy-map__image:hover path{
  fill: grey;
}
