<div class="container-fluid title-container" style="margin:170px auto 60px auto;">
  <h1 style="margin-bottom:10px;">{{this.LanguagesService.lookbookTitle15}}</h1>
  <div>
    <a *ngIf="this.previousLookbookPage!==''"  (click)="navigate(this.previousLookbookUrl)" style="float:left;cursor:pointer"><i class="material-icons" style="font-size:30px;">navigate_before</i><span style="position:relative;top:-9px;">{{this.previousLookbookPage}}</span></a>
    <a *ngIf="this.nextLookbookPage!==''" (click)="navigate(this.nextLookbookUrl)" style="float:right;cursor:pointer"><span style="position:relative;top:-9px;">{{this.nextLookbookPage}}</span><i class="material-icons" style="font-size:30px;">navigate_next</i></a>
  </div>
</div>
<div id="gallery" class="container-fluid" style="margin-bottom:10px">
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/Villa_Wiesbaden01_1400x800.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/csm_Villa_Wiesbaden02_960x1260_9a73ea52d8.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/Villa_Wiesbaden03_1400x800.jpg')"></div>
  </div>
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/Villa_Wiesbaden07_1400x800.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/csm_Villa_Wiesbaden04_960x1260_d1294527e5.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/lookbook/villa-wiesbaden/Villa_Wiesbaden05_1400x800.jpg')"></div>
  </div>
</div>
<div style="height:140px;">
    <a *ngIf="this.previousLookbookPage!==''"  (click)="navigate(this.previousLookbookUrl)" style="float:left;cursor:pointer"><i class="material-icons" style="font-size:30px;">navigate_before</i><span style="position:relative;top:-9px;">{{this.previousLookbookPage}}</span></a>
    <a *ngIf="this.nextLookbookPage!==''" (click)="navigate(this.nextLookbookUrl)" style="float:right;cursor:pointer"><span style="position:relative;top:-9px;">{{this.nextLookbookPage}}</span><i class="material-icons" style="font-size:30px;">navigate_next</i></a>
</div>
