<div class="container-fluid title-container" style="margin:170px auto 60px auto;">
  <h1 style="margin-bottom:10px;">{{this.LanguagesService.e30Title6}}</h1>
  <div>
    <a *ngIf="this.previousE30Page!==''"  (click)="navigate(this.previousE30Url)" style="float:left;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousE30Page}}</span></a>
    <a *ngIf="this.nextE30Page!==''" (click)="navigate(this.nextE30Url)" style="float:right;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextE30Page}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
  </div>
</div>
<div id="gallery" class="container-fluid" style="margin-bottom:10px">
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/oak-laminate/Eiche_lam01_1400x800.jpg')"></div>
  <div class="row gallery-row">
    <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/oak-laminate/csm_Eiche_lam02_960x1260_5ab3809627.jpg')"></div>
    <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/oak-laminate/Eiche_lam03_1400x800.jpg')"></div>
  </div>
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/oak-laminate/Eiche_lam04_1400x800.jpg')"></div>
  <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/e30/oak-laminate/Eiche_lam05_1400x800.jpg')"></div>
</div>
<div style="height:140px;">
    <a *ngIf="this.previousE30Page!==''"  (click)="navigate(this.previousE30Url)" style="float:left;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousE30Page}}</span></a>
    <a *ngIf="this.nextE30Page!==''" (click)="navigate(this.nextE30Url)" style="float:right;cursor:pointer;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextE30Page}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
</div>
