<div style="background-color:black;">
  <div class="container-fluid title-container" style="margin:0px auto 60px auto;">
    <h1 style="margin-bottom:10px;">{{this.LanguagesService.uniqueTitle1}}</h1>
    <div>
      <a *ngIf="this.previousUniquePage!==''"  (click)="navigate(this.previousUniqueUrl)" style="float:left;cursor:pointer;color:white;font-family: 'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousUniquePage}}</span></a>
      <a *ngIf="this.nextUniquePage!==''" (click)="navigate(this.nextUniqueUrl)" style="float:right;cursor:pointer;color:white;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextUniquePage}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
    </div>
  </div>
  <div id="gallery" class="container-fluid" style="margin-bottom:10px">
    <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/unique/Beola-Nera/Beola_01.jpg')"></div>
    <div class="row gallery-row">
      <div class="col-xs-12 col-md-4 col-bottom-border col-right-border col-image gallery-image" style="background-image:url('../../../assets/images/unique/Beola-Nera/csm_Beola_02_a04b115eb0.jpg')"></div>
      <div class="col-xs-12 col-md-8 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/unique/Beola-Nera/Beola_03.jpg')"></div>
    </div>
    <div class="col-xs-12 col-bottom-border col-image gallery-image" style="background-image:url('../../../assets/images/unique/Beola-Nera/Beola_04.jpg')"></div>
  </div>
  <div style="height:140px;">
      <a *ngIf="this.previousUniquePage!==''"  (click)="navigate(this.previousUniqueUrl)" style="float:left;cursor:pointer;color:white;font-family: 'Brandon_light', Arial, Verdana;"><i class="material-icons" style="font-size:23px;">navigate_before</i><span style="position:relative;top:-7px;">{{this.previousUniquePage}}</span></a>
      <a *ngIf="this.nextUniquePage!==''" (click)="navigate(this.nextUniqueUrl)" style="float:right;cursor:pointer;color:white;font-family:'Brandon_light', Arial, Verdana;"><span style="position:relative;top:-7px;">{{this.nextUniquePage}}</span><i class="material-icons" style="font-size:23px;">navigate_next</i></a>
  </div>
</div>
