<div class="container-fluid gallery-container">
  <div class="container-fluid" style="margin:170px auto 130px auto;">
    <h1 style="margin-bottom:50px;">Lookbook</h1>

    <p class="page-description text-center">Rien ne vaut des photos de projets achevés pour présenter de manière aussi réaliste et authentique que possible
       l’espace de vie qu’est la cuisine. Photographiées aux domiciles de nos clients, ces cuisines illustrent de manière exemplaire l’abondance de matériaux,
       de couleurs et de possibilités d’agencement qui permettent de créer des solutions sur mesure et personnalisées pour chacun. Et ces images éliminent la
       possibilité, comme en studio photographique, de manipuler les choses pour les embellir ou bien de travailler dans des situations spatiales peu réalistes.
       Les installations présentées ici sont photographiées « live on stage » au sens strict du terme et elles offrent une grande authenticité. Nous adressons
       nos remerciements à tous les maîtres d’ouvrage qui nous ont permis ces reportages photos. Ainsi, évidemment, qu’aux partenaires eggersmann qui ont conçu
       ces cuisines avec enthousiasme, savoir-faire et beaucoup de finesse.</p>

  </div>

    <div class="tz-gallery">

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('seaside')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/seaside.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.lookbookTitle1}}</h3>
                      <p>{{this.languagesService.lookbookDes1}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('london')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/Villa_London.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.lookbookTitle2}}</h3>
                      <p>{{this.languagesService.lookbookDes2}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('villa-salzburg')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/Villa_Salzburg.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.lookbookTitle3}}</h3>
                      <p>{{this.languagesService.lookbookDes3}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail" (click)="navigate('villa-innsbruck')">
                  <a class="lightbox">
                      <img class="image" src="../../assets/images/Villa_Insbruck.jpg">
                  </a>
                  <div class="caption">
                      <h3>{{this.languagesService.lookbookTitle4}}</h3>
                      <p>{{this.languagesService.lookbookDes4}}</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-heidenheim')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/Brenner.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle5}}</h3>
                        <p>{{this.languagesService.lookbookDes5}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-schweinfurt')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/Haus_Schweinfurt.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle6}}</h3>
                        <p>{{this.languagesService.lookbookDes6}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-hambourg2')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook7.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle7}}</h3>
                        <p>{{this.languagesService.lookbookDes7}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('auvent-berlin')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook8.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle8}}</h3>
                        <p>{{this.languagesService.lookbookDes8}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-hambourg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook9.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle9}}</h3>
                        <p>{{this.languagesService.lookbookDes9}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-vienne')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook10.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle10}}</h3>
                        <p>{{this.languagesService.lookbookDes10}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('auvent-hambourg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook11.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle11}}</h3>
                        <p>{{this.languagesService.lookbookDes11}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-hambourg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook12.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle12}}</h3>
                        <p>{{this.languagesService.lookbookDes12}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-miami')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook13.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle13}}</h3>
                        <p>{{this.languagesService.lookbookDes13}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-duesseldorf')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook14.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle14}}</h3>
                        <p>{{this.languagesService.lookbookDes14}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-wiesbaden')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook15.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle15}}</h3>
                        <p>{{this.languagesService.lookbookDes15}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-helsinki')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook16.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle16}}</h3>
                        <p>{{this.languagesService.lookbookDes16}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-hambourg2')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook17.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle17}}</h3>
                        <p>{{this.languagesService.lookbookDes17}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-regensburg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook18.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle18}}</h3>
                        <p>{{this.languagesService.lookbookDes18}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-bielefeld')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook19.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle19}}</h3>
                        <p>{{this.languagesService.lookbookDes19}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-cologne')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook20.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle20}}</h3>
                        <p>{{this.languagesService.lookbookDes20}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('loft-hambourg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook21.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle21}}</h3>
                        <p>{{this.languagesService.lookbookDes21}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa liechtenstein')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook22.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle22}}</h3>
                        <p>{{this.languagesService.lookbookDes22}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('appartement-hambourg')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook23.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle23}}</h3>
                        <p>{{this.languagesService.lookbookDes23}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maisonette-bonn')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook24.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle24}}</h3>
                        <p>{{this.languagesService.lookbookDes24}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('villa-kopenhagen')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook25.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle25}}</h3>
                        <p>{{this.languagesService.lookbookDes25}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" (click)="navigate('maison-copenhague')">
                    <a class="lightbox">
                        <img class="image" src="../../assets/images/lookbook26.jpg">
                    </a>
                    <div class="caption">
                        <h3>{{this.languagesService.lookbookTitle26}}</h3>
                        <p>{{this.languagesService.lookbookDes26}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

