/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Brandon_light';
  src: url("../src/assets/fonts/Brandon_light.otf") format("opentype");
}

.mat-step-header .mat-step-icon{
  background-color:black !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color:black;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: red;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color:black;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: red;
}

.mat-stepper-vertical{
  font-family:'Brandon_light';
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: black;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: black;
}

.mat-form-field{
  padding-bottom:20px;
  width:300px;
}

button:focus {outline:0 !important;}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color:black;
}

.mat-vertical-content{
  margin-top:50px;
}

/* LOOKBOOK */
.title-container h1 {
  font-size:48px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Brandon_light', Arial, Verdana;
  color: black;
}

.gallery-image{
  min-height: 820px;
  background-size: cover;
  background-position: center center;
}

.gallery-row{
  margin-right:unset;
  margin-left:unset;
}

.col-bottom-border {
  border-bottom: 14px solid white;
}

.col-right-border {
  border-right: 14px solid white;
}

.row.contact-container{
  background-image: url(assets/images/contact.jpg);
  background-size: cover;
}

mat-vertical-stepper.mat-stepper-vertical.ng-tns-c4-0{
  background-color:rgba(255,255,255,0.8);
}

.row.contact-container{
  min-height:954px !important;
}

@media only screen and (max-width: 1600px) and (min-width:1200px){
  .gallery-image{
    min-height: 640px;
  }
}

@media only screen and (max-width: 1200px) and (min-width:1000px){
  .gallery-image{
    min-height: 472px;
  }
}

@media only screen and (max-width: 1000px) and (min-width:768px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 380px;
  }
}

@media only screen and (max-width: 768px) and (min-width:500px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 380px;
  }
  .col-right-border {
    border-right: none;
  }
}

@media only screen and (max-width: 500px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 240px;
  }
  .col-right-border {
    border-right: none;
  }
}
