/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Brandon_light';
  src: url("../src/assets/fonts/Brandon_light.otf") format("opentype");
}

.mat-step-header .mat-step-icon{
  background-color:black !important;
  color:lightgrey !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color:lightgrey;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: red;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color:lightgrey;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: red;
}

.mat-stepper-vertical{
  font-family:'Brandon_light';
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: lightgrey;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: lightgrey;
}

.mat-form-field{
  padding-bottom:20px;
  width:300px;
}

.mat-step-header .mat-step-label.mat-step-label-active{
  color:lightgrey !important;
  font-size:20px;
}

.mat-radio-outer-circle{
  border-color: lightgrey;
}

.mat-radio-label-content{
  color:lightgray;
  font-family: 'Brandon_light', Arial, Verdana;
}

.mat-step-header .mat-step-icon-not-touched{
  background-color:black;
  color:lightgrey;
}

button:focus {outline:0 !important;}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color:black;
}

.mat-vertical-content{
  margin-top:50px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color:lightgrey !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
  color:lightgrey;

}

input.mat-input-element{
  color:lightgrey;
  font-family: 'Brandon_light', Arial, Verdana;
}

span.mat-button-wrapper{
  color:lightgrey;
  font-family: 'Brandon_light', Arial, Verdana;
  font-size:18px;
}

span.mat-checkbox-label{
  color:lightgray;
  font-family: 'Brandon_light', Arial, Verdana;
  font-size:18px;
}

.mat-checkbox-frame{
  border-color:lightgrey;
}

.mat-select-content, .mat-select-panel-done-animating{
  background-color:black;
}

.mat-select-value{
  color:lightgrey;
}

.mat-select-arrow{
  color:lightgrey;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color:lightgrey;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color:lightgrey;
}

.mat-optgroup-label{
  color:gray;
  font-family: 'Brandon_light', Arial, Verdana;
}

.mat-option{
  color:lightgrey;
  font-family: 'Brandon_light', Arial, Verdana;
}

.mat-option.mat-active{
  color:lightgrey;
  font-family: 'Brandon_light', Arial, Verdana;
}

/* LOOKBOOK */
.title-container h1 {
  font-size:48px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Brandon_light', Arial, Verdana;
  color: black;
}

.gallery-image{
  min-height: 820px;
  background-size: cover;
  background-position: center center;
}

.gallery-row{
  margin-right:unset;
  margin-left:unset;
}

.col-bottom-border {
  border-bottom: 14px solid white;
}

.col-right-border {
  border-right: 14px solid white;
}

.row.contact-container{
  background-size: cover;
}

@media only screen and (max-width: 1600px) and (min-width:1200px){
  .gallery-image{
    min-height: 640px;
  }
}

@media only screen and (max-width: 1200px) and (min-width:1000px){
  .gallery-image{
    min-height: 472px;
  }
}

@media only screen and (max-width: 1000px) and (min-width:768px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 380px;
  }
}

@media only screen and (max-width: 768px) and (min-width:500px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 380px;
  }
  .col-right-border {
    border-right: none;
  }
}

@media only screen and (max-width: 500px){
  #gallery{
    padding-left:0px;
    padding-right:0px;
  }
  .gallery-image{
    min-height: 240px;
  }
  .col-right-border {
    border-right: none;
  }
}
