/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'Brandon_light';
  src: url("../src/assets/fonts/Brandon_light.otf") format("opentype");
}

.mat-step-header .mat-step-icon{
  background-color:black !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color:black;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: red;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color:black;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: red;
}

.mat-stepper-vertical{
  font-family:'Brandon_light';
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: black;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: black;
}

mat-radio-group.radio-group.mat-radio-group{
  padding-top:50px;
  margin-left:42%;
}

mat-radio-button#mat-radio-2{
  padding-bottom:20px;
}

.contact-fields-container{
  padding-top:50px;
  margin-left:37%;
}

.mat-form-field{
  padding-bottom:20px;
  width:300px;
}

button:focus {outline:0 !important;}

.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color:black;
}

mat-checkbox#mat-checkbox-1{
  padding-top:50px;
  margin-left:37%;
}
